

<span class="footer-span"><a href="https://www.instagram.com/"><img class="footer-span__logo"
      src="https://cdn-icons-png.flaticon.com/512/25/25425.png" alt=""></a></span>
<span class="footer-span"><a href="https://www.twitter.com/"><img class="footer-span__logo"
      src="https://cdn-icons-png.flaticon.com/512/25/25347.png" alt=""></a></span>
<span class="footer-span"><a href="https://www.discord.com/"><img class="footer-span__logo"
      src="https://cdn-icons-png.flaticon.com/512/5968/5968759.png" alt=""></a></span>